:root {
  /* Spacing */
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;

  /* Font sizes */
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;

  /* Colors */
  --background-main: #edf4f7;
  --background-main-o8: rgba(237, 244, 247, 0.7);
  --background-side: #f4f8fa;
  --primary-blue: #32444d;
  --secondary-blue: #b3c3cc;
  --transparent-blue: #32444d1f;
  --primary-orange: #ff6719;
  --secondary-orange: #ffaa80;
}

/* Breakpoints */
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-medium);
  line-height: 1.5;
  min-height: 100vh;

  background-color: var(--background-main);
  color: var(--primary-blue);

  display: grid;
  grid-template-columns: 320px 1fr;

  @media screen and (min-width: $breakpoint-xlarge) {
    display: flex;
    justify-content: center;
  }

  @media screen and (max-width: $breakpoint-large) {
    display: block;
    --spacing-large: 2rem;
  }
}

nav {
  background-color: var(--background-side);
  padding: var(--spacing-large);
}

.nav-info {
  @media screen and (max-width: $breakpoint-large) {
    --spacing-small: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0 var(--spacing-small);
  }
}

main {
  padding: var(--spacing-large);
}

h1,
.heading-1 {
  font-size: var(--font-size-large);
  font-weight: 700;
  margin-top: 0;
}

h2 {
  color: var(--secondary-blue);
  font-size: var(--font-size-small);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: var(--font-size-large);
}

p {
  font-size: var(--font-size-large);
}

// SVG STYLE

.today,
.month {
  width: 100%;
  @media screen and (max-width: $breakpoint-large) {
    width: 98%;
  }
}

.today {
  height: 200px;
}

.month {
  height: 600px;
}

rect {
  transition: fill 0.2s ease-in;
  fill: var(--primary-orange);

  &:hover {
    transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    fill: var(--primary-blue);
  }
}

rect.transparent {
  fill: var(--transparent-blue);
}

text {
  font-size: var(--font-size-small);
  text-anchor: middle;
  fill: var(--primary-orange);

  &.steps {
    opacity: 0;
    transition: transform 0.2s ease-in, opacity 0.3s ease-in;
    transform: translateY(-4px);
  }
}

g:hover {
  text.steps {
    opacity: 1;
    transform: none;
  }
  text.day {
    transition: opacity 0.1s ease;
    opacity: 0;
  }
}

text.day {
  transition: opacity 0.5s ease-in;
  fill: var(--primary-blue);
}

circle.actual {
  transition: fill 0circle2s ease-in;
  fill: var(--primary-blue);

  &:hover {
    transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
    fill: var(--primary-orange);
  }
}

circle.ring {
  fill: none;
  stroke: var(--secondary-blue);
  stroke-width: 2px;
  opacity: 0.45;
}
