@import url("https://rsms.me/inter/inter.css");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
:root {
  /* Breakpoints */
  --breakpoint-small: 480px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;
  --breakpoint-xlarge: 1200px;
  /* Spacing */
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;
  --spacing-xlarge: 4rem;
  /* Font sizes */
  --font-size-small: 0.8rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.2rem;
  --font-size-xlarge: 1.5rem;
  /* Colors */
  --background-main: #edf4f7;
  --background-side: #f4f8fa;
  --primary-blue: #32444d;
  --secondary-blue: #b3c3cc;
  --transparent-blue: #32444d1f;
  --primary-orange: #ff6719;
  --secondary-orange: #ffaa80;
}

body {
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-medium);
  line-height: 1.5;
  min-height: 100vh;
  background-color: var(--background-main);
  color: var(--primary-blue);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 1fr;
  grid-template-columns: 320px 1fr;
}

nav {
  background-color: var(--background-side);
  padding: var(--spacing-large);
}

main {
  padding: var(--spacing-large);
}

h1,
.heading-1 {
  font-size: var(--font-size-xlarge);
  font-weight: 700;
  margin-top: 0;
}

h2 {
  color: var(--secondary-blue);
  font-size: var(--font-size-small);
  font-weight: 700;
  text-transform: uppercase;
  margin-top: var(--font-size-xlarge);
}

p {
  font-size: var(--font-size-xlarge);
}

rect {
  -webkit-transition: fill 0.2s ease-in;
  transition: fill 0.2s ease-in;
  fill: var(--primary-orange);
}
rect:hover {
  -webkit-transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  fill: var(--primary-blue);
}

rect.transparent {
  fill: var(--transparent-blue);
}

text {
  font-size: var(--font-size-small);
  text-anchor: middle;
  fill: var(--primary-orange);
}
text.steps {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in, -webkit-transform 0.2s ease-in;
  transition: opacity 0.3s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, opacity 0.3s ease-in;
  transition: transform 0.2s ease-in, opacity 0.3s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}

g:hover text.steps {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
g:hover text.day {
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
  opacity: 0;
}

text.day {
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  fill: var(--primary-blue);
}

circle.actual {
  -webkit-transition: fill 0circle2s ease-in;
  transition: fill 0circle2s ease-in;
  fill: var(--primary-blue);
}
circle.actual:hover {
  -webkit-transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: fill 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  fill: var(--primary-orange);
}

circle.ring {
  fill: none;
  stroke: var(--secondary-blue);
  stroke-width: 2px;
  opacity: 0.45;
}